/* font-family: 'PT Mono', monospace; */
:root {
  --header-font: "Playfair Display", serif;
  --main-font: "Poppins", sans-serif;
  --base-color: #e2e2e2;
  --btn-color: #8f8b8b;
}

body {
  background-color: #fdfdfd;
  background-image: url(images/background.png);
}

h1 {
  font-family: var(--header-font);
  font-weight: bold;
}

p {
  font-family: var(--main-font);
  color: rgba(53, 48, 48, 0.836);
}

/* img .cover {
  position: fixed;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: auto;
}

img .cover::after {
  content: "";
  background: url(images/background.png);
  opacity: 0.5;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
} */

.box {
  background: rgba(133, 155, 184, 0.8);
}

.navbar-nav .active {
  font-weight: bold;
}

.navbar-nav {
  font-size: 20px;
}

.hero {
  background-color: #fdfdfd;
  padding: 120px 20px 0 20px;
  text-align: center;
}

.btn-branding {
  background-color: var(--btn-color);
  padding: 15px 20px;
  color: #fdfdfd;
  font-weight: normal;
  font-family: var(--main-font);
}

.down-part {
  background-color: var(--base-color);
  width: 100%;
}

.typewriter {
  font-family: var(--header-font);
  display: inline-block;
  color: black;
}

.typewriter-text {
  display: inline-block;
  overflow: hidden;
  letter-spacing: 0.2em;
  animation: typing 1s steps(50, end) forwards, blinking 0.75s infinite;
  white-space: nowrap;
  border-right: 3px solid black;
  width: 0;
  color: black;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blinking {
  from {
    border-color: transparent;
  }
  to {
    border-color: black;
  }
}

.content {
  margin: 170px 20px 80px 0;
  text-align: center;
  font-family: var(--header-font);
}

.projects {
  font-family: var(--main-font);
}

.each-project {
  background-color: var(--base-color);
  padding: 30px 70px;
  border-radius: 10px;
}

.contact-link {
  font-size: 25px;
  text-decoration: none;
  font-family: var(--main-font);
  padding: 10px;
}

.header-img {
  width: 20px;
  padding: 10px;
}
.contact-img {
  font-size: 32px;
  font-family: var(--main-font);
  width: 15px;
}
.contact-txt {
  font-size: 32px;
  font-family: var(--main-font);
}

h2.contact {
  font-family: var(--header-font);
  font-weight: bold;
  font-size: 38px;
  padding: 20px 0;
  margin-bottom: 25px;
  margin-top: 60px;
}

.color-contact {
  background-color: #f0f0f0;
  max-width: 100%;
}

.contact-pic {
  display: block;
  padding: 50px 10px 50px 0;
  margin: 10px 0;
}
