/* font-family: 'PT Mono', monospace; */
:root {
  --header-font: "Playfair Display", serif;
  --main-font: "Poppins", sans-serif;
  --base-color: #e2e2e2;
  --btn-color: #8f8b8b;
}

body {
  background-color: #fdfdfd;
}

h1 {
  font-family: var(--header-font);
  font-weight: bold;
}

p {
  font-family: var(--main-font);
  color: rgba(53, 48, 48, 0.836);
}

.hero {
  background-color: #fdfdfd;
  padding: 120px 20px;
  text-align: center;
}

.btn-branding {
  background-color: var(--btn-color);
  padding: 15px 20px;
  color: #fdfdfd;
  font-weight: normal;
  font-family: var(--main-font);
}

.down-part {
  background-color: var(--base-color);
  width: 100%;
}

.typewriter {
  font-family: var(--header-font);
  display: inline-block;
  color: black;
}

.typewriter-text {
  display: inline-block;
  overflow: hidden;
  letter-spacing: 0.2em;
  animation: typing 1s steps(50, end) forwards, blinking 0.75s infinite;
  white-space: nowrap;
  border-right: 3px solid black;
  width: 0;
  color: black;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blinking {
  from {
    border-color: transparent;
  }
  to {
    border-color: black;
  }
}
