/* font-family: 'Playfair Display', serif;

    font-family: 'Poppins', sans-serif;

    font-family: 'PT Mono', monospace; */
:root {
  --header-font: "Playfair Display", serif;
  --main-font: "Poppins", sans-serif;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.typewriter {
  font-family: "Playfair Display", serif;
  display: inline-block;
  color: black;
}

.typewriter-text {
  display: inline-block;
  overflow: hidden;
  letter-spacing: 0.2em;
  animation: typing 1s steps(50, end) forwards, blinking 0.75s infinite;
  white-space: nowrap;
  border-right: 3px solid black;
  width: 0;
  color: black;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blinking {
  from {
    border-color: transparent;
  }
  to {
    border-color: black;
  }
}
